<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>SMP IT ALBINA</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static', filename="gambar/logo.png")}}" rel="stylesheet" />
    <!-- Bootstrap icons-->
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    
    <link href="{{ url_for ('static', filename="user2/assets/css/bootstrap.min.css")}}" rel="stylesheet" />
    <link href="{{ url_for ('static', filename="user2/assets/css/font-awesome.css")}}" rel="stylesheet" />
    <link href="{{ url_for ('static', filename="user2/assets/css/templatemo-softy-pinko.css")}}" rel="stylesheet" />

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{{ url_for ('static', filename="gambar/logo.png")}}" width="60px" alt="SMP IT AL BINA"/> SMP IT ALBINA
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{{url_for('buser.landing')}}">Home</a></li>
                            <li><a href="{{url_for('buser.profil')}}">Profil</a></li>
                            <li><a href="{{url_for('buser.galeri')}}">Galeri</a></li>
                            <li><a href="{{url_for('buser.program')}}">Program</a></li>
                            <li><a href="{{url_for('buser.kegiatan')}}">Kegiatan</a></li>
                            <li><a href="{{url_for('buser.berita')}}">Berita</a></li>
                            <li><a href="#contact-us">Tentang Kami</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>SMP IT <strong>ALBINA</strong><br> <strong>Kota Ternate</strong></h1>
                        <p>Luruskan niat, Bulatkan tekad, Satukan langkah, Wujudkan Generasi Terbaik | Guru adalah pewaris Nabi penerus perjuangan Pembawa cahaya kedamaian dan kecerahan</p>
                        <a href="{{url_for('buser.daftar_s')}}" class="main-button-slider">Pendafataran Siswa</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% if current_user.is_authenticated %}
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <a href="{{url_for('buser.update_siswa')}}">
                                <div class="features-small-item">
                                    <div class="icon">
                                        <i><img src="{{ url_for ('static', filename="user2/assets/images/featured-item-01.png")}}" alt=""></i>
                                        
                                    </div>
                                    <h5 class="features-title">Update Biodata</h5>
                                    <p>Update Biodata Anda Untuk Melakukan pendaftaran Sekolah</p>
                                </div>
                            </a>
                        </div>

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <a href="{{url_for('buser.cek')}}">     
                                <div class="features-small-item">
                                        <div class="icon">
                                            <i><img src="{{ url_for ('static', filename="user2/assets/images/featured-item-01.png")}}" alt=""></i>
                                            
                                        </div>
                                        <h5 class="features-title">Cek Pendaftaran</h5>
                                        <p>Klik untuk megetahui status pendaftaran Anda</p>
                                </div>
                            </a>
                        </div>

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <a href="{{url_for('buser.logout_siswa')}}">    
                            <div class="features-small-item">
                                        
                                    <div class="icon">
                                    <i><img src="{{ url_for ('static', filename="user2/assets/images/featured-item-01.png")}}" alt=""></i>
                                        
                                    </div>
                                    <h5 class="features-title">
                                        Logout</h5>
                                    <p>Klik Untuk meninggalkan halaman ini</p>
                                </div>
                            </a>
                        </div>
                       
                        
                        {% else %} 
                         <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <a href="{{url_for('buser.login_siswa1')}}">   
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{{ url_for ('static', filename="user2/assets/images/featured-item-01.png")}}" alt=""></i>
                                    
                                </div>
                                <h5 class="features-title">Login</h5>
                                <p>Untuk masuk ke akun anda</p>
                            </div>
                            </a>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <a href="{{url_for('buser.program')}}"></a>
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{{ url_for ('static', filename="user2/assets/images/featured-item-01.png")}}" alt=""></i>
                                
                                </div>
                                <h5 class="features-title">Program</h5>
                                <p>Program Sekolah</p>
                            </div>
                            </a>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <a href="{{url_for('buser.kegiatan')}}"></a>
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{{ url_for ('static', filename="user2/assets/images/featured-item-01.png")}}" alt=""></i>
                                
                                </div>
                                <h5 class="features-title">Kegiatan</h5>
                                <p>Kegiatan Sekolah</p>
                            </div>
                            </a>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->
    {% block konten%}
    {% endblock%}
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://m.facebook.com/photo.php?fbid=2213082038915611&id=100006415088195&set=a.1867370610153424"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 SMP IT ALBINA - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{{ url_for ('static', filename="user2/assets/js/jquery-2.1.0.min.js")}}"></script>
    

    <!-- Bootstrap -->
    
    <script src="{{ url_for ('static', filename="user2/assets/js/popper.js")}}"></script>
    
    <script src="{{ url_for ('static', filename="user2/assets/js/bootstrap.min.js")}}"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src=""></script> 
    <script src="{{ url_for ('static', filename="user2/assets/js/scrollreveal.min.js")}}"></script>
    <script src="{{ url_for ('static', filename="user2/assets/js/waypoints.min.js")}}"></script>
    <script src="{{ url_for ('static', filename="user2/assets/js/jquery.counterup.min.js")}}"></script>
    <script src="{{ url_for ('static', filename="user2/assets/js/imgfix.min.js")}}"></script>

    
    
    <!-- Global Init -->
    
    <script src="{{ url_for ('static', filename="user2/assets/js/custom.js")}}"></script>

  </body>
</html>