{% extends "user2/base.html" %} {% block konten%}
<section class="section padding-bottom-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
        <div class="left-heading">
          <h3 class="section-title">Terimakasih telah melakukan Pendaftaran.</h3>
          <p>
            Data yang anda daftarkan telah terdaftar <strong>{{current_user.nm_siswa}}</strong> . <br />
            Untuk informasi yang lebih jelas anda bisa menghubungi atau langsung di SMP IT ALBINA<strong></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock%}
