{% extends "user2/base.html" %} {% block konten%}
<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="info">
            <h1>GALERI SEKOLAH</h1>
            <p>Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam.</p>
          </div>
        </div>
      </div>

      <!-- ***** Mini Box Start ***** -->
      <div class="row" style="width: 1400px">
        {% for di in datagaleri.items %}
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="{{url_for('static', filename='gambar/' + di.gmbr)}}" alt="" width="150px" /></i>
            <strong>{{di.tgl_post}}</strong>
            <span>{{di.ket}}</span>
          </a>
        </div>
        {% endfor %}
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if datagaleri.has_prev %}
          <li class="page-item"><a class="page-link" href="{{ url_for('buser.galeri', page=datagaleri.prev_num)}}">Previous</a></li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
            {% endif %}
          </li>

          {% for page in datagaleri.iter_pages(left_edge=3, right_edge=3) %} {% if page %} {% if page==datagaleri.page %}
          <li class="page-item active"><a class="page-link" href="{{ url_for('buser.galeri', page=page)}}">{{ page }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="{{ url_for('buser.galeri', page=page)}}">{{ page }}</a></li>
          {% endif %} {% else %}
          <li class="page-item disabled" id="example_ellipsis"><a class="page-link" href="#">...</a></li>
          {% endif %} {% endfor %} {% if datagaleri.has_next %}
          <li class="page-item"><a class="page-link" href="{{ url_for('buser.galeri', page=datagaleri.next_num)}}">Next</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- ***** Mini Box End ***** -->
    </div>
  </div>
</section>
<!-- ***** Home Parallax End ***** -->

{% endblock %}
